body {
    font-family: Arial, sans-serif;
    background-color: #ebebebef; 
    text-align: center; 
    padding: 50px 20px;
    margin: 0;
    max-width: 640px; 
    margin: 0 auto;
}


body > b {
    display: block; 
    font-size: 3.5em;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

body > a {
    display: inline-block; 
    width: 100px; 
    box-sizing: border-box; 
    
    padding: 10px 10px;
    margin: 10px 5px; 
    
    border-radius: 8px; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 20px;
    text-align: center;
    
    background-color: #ffffff; 
    color: #333; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); 
    transition: transform 0.5s, box-shadow 0.2s; 
}


body > a:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

/* テーブル全体 */
table {
    width: 80% ; 
    margin: 20px auto; 
    border-collapse: collapse; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}



/* データセル（中身） */
table td {
    padding: 8px 5px;
    border: 1px solid #ddd; 
    text-align: left; 
    font-size: 0.9em;
    color: #333;
    
}



input[type="number"],
input[type="text"],
input[type="date"], 
select {
    width: 250px; 
    box-sizing: border-box; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


input[type="submit"], input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 15px; 
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
}

/* 登録ボタンのスタイル */
input[type="submit"] {
    background-color: #007bff; 
    color: white;
}
input[type="submit"]:hover {
    background-color: #0056b3; 
}

/* 取り消しボタンのスタイル */
input[type="reset"] {
    background-color: #6c757d; 
    color: white;
}
input[type="reset"]:hover {
    background-color: #5a6268; 
}