body {
    font-family: Arial, sans-serif;
    background-color: #ebebebef; 
    text-align: center; 
    padding: 50px 20px;
    margin: 0;
    max-width: 640px; 
    margin: 0 auto;
}

b {
    display: block; 
    font-size: 3.5em;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 450px; 
    margin: 0 auto; 
}

input[type="text"],
select {

    padding: 10px 15px;
    margin-top: 5px; /* 上のラベルとの間隔 */
    margin-bottom: 10px; /* 下の要素との間隔 */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* paddingとborderを幅に含める */
    font-size: 1em;
}

select {
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4"><path fill="#007bff" d="M287 64.9L146.4 205.4 5.8 64.9c-7.9-7.9-20.6-7.9-28.5 0s-7.9 20.6 0 28.5l142.1 142.1c7.9 7.9 20.6 7.9 28.5 0l142.1-142.1c7.9-7.9 7.9-20.6 0-28.5-7.8-7.9-20.5-7.9-28.4 0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 15px; 
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; 
}

input[type="submit"] {
    background-color: #007bff; 
    color: white;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


input[type="reset"] {
    background-color: #6c757d; /* グレー */
    color: white;
}

input[type="reset"]:hover {
    background-color: #5a6268;
}


a {
    display: block; 
    text-align: center;
    margin-top: 30px;
    color: #007bff;
    text-decoration: none;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}